
@import "tailwindcss";

.honk{
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

.pink-glow-pulse {
  background: radial-gradient(circle at 0% 10%, rgba(174, 97, 247, 0.25) 0%, transparent 50%);
  animation: pulse-glow 3s ease-in-out infinite alternate;
}

.purple-glow-pulse {
  background: radial-gradient(circle at 100% 90%, rgba(236, 72, 153, 0.25)  0%, transparent 50%);
  animation: pulse-glow 3s ease-in-out infinite alternate;
}

/* @keyframes pulse-glow {
  from {
    background: radial-gradient(circle at 50% 50%, rgba(236, 72, 153, 0.5) 0%, transparent 50%);
  }
  to {
    background: radial-gradient(circle at 50% 50%, rgba(236, 72, 153, 0.25) 0%, transparent 50%);
  }
} */

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(75, 85, 99, 0.4);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(75, 85, 99, 0.6);
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(236, 72, 153, 0.2);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(210, 210, 210, 0.6);
  box-shadow: 0 2px 8px rgba(236, 72, 153, 0.4);
}

/*   */